# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
build/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# Uploads / user files
uploads/

# Local files
*.local

# Editors
.vscode/
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Project tools
.vercel

Downloads/
google-services.json
Test Results/
automation/reports/
all-test-reports/
reports/